<div>
 <title>{{title}}</title> 

  <h1>{{title}}</h1>

  {{#if error}}
    <h2>Error {{error}}</h2>
  {{/if}}

  <ul>
    {{#each features}}
      <li>{{this.name}} = {{this.value}}</li>
    {{/each}}
  </ul>

</div>

